<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Verificação de Systema</strong>
    <p>Clique no botão abaixo para testar a conexão com o Supabase.</p>
    
    <ion-button (click)="verificarConexao()" expand="block" shape="round">
      Testar Conexão
    </ion-button>

    <p *ngIf="statusConexao" [class]="statusConexao.includes('sucesso') ? 'success-text' : 'error-text'">
      {{ statusConexao }}
    </p>

    <p>Comece com os <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Componentes UI do Ionic</a></p>
  </div>
</ion-content>
